@tailwind base
@tailwind components
@tailwind utilities

body 
    background-color: var(--body-bg);

:root 
    --body-bg: var(--p-surface-50);

:root[class="my-app-dark"] 
    --body-bg: var(--p-surface-900);
